extends layout
block content
	.container
		div.col-sm-12
			div#dial-container
				div.dial
					ul.tick-container
						li.tick.tick1
						li.tick.tick2
						li.tick.tick3
						li.tick.tick4
						li.tick.tick5
						li.tick.tick6
						li.tick.tick7
						li.tick.tick8
						li.tick.tick9
						li.tick.tick10
						li.tick.tick11
						li.tick.tick12
					div.circle1
					div.circle2
					div.shine
				div.rotate-45.hidden-xs#arrow-container
					div.arrow-up
		div.col-sm-12.visible-xs
			div.arrow-sm
		div.col-sm-8.col-sm-offset-2
			h1 coming soon to iOS 8
			div.col-sm12
				hr
			
			//Begin MailChimp Signup Form 
			link(href='//cdn-images.mailchimp.com/embedcode/slim-081711.css', rel='stylesheet', type='text/css')
			style(type='text/css')
			#mc_embed_signup
				form#mc-embedded-subscribe-form.validate(action='//jamesnesfield.us3.list-manage.com/subscribe/post?u=443b2b94ef027ac26e6a123e1&id=54fdfa81d8', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
					div.col-sm-12
						label(for='mce-EMAIL') Sign up for early beta access
					div.col-sm-9
						input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='required')
						// real people should not fill this in and expect good things - do not remove this or risk form bot signups
					div(style='position: absolute; left: -5000px;')
						input(type='text', name='b_443b2b94ef027ac26e6a123e1_54fdfa81d8', tabindex='-1', value='')
					div.clear
						div.col-sm-3
							input#mc-embedded-subscribe.button.pull-right(type='submit', value='submit', name='subscribe')
					// End mc_embed_signup

			img.img-responsive.hidden(src="images/app-store.png")
		div.push.clear
	div.footer.clearfix
		p.col-sm-12
			span.glyphicon.glyphicon-copyright-mark
			a(href="jamesnesfield.com")  jamesnesfield 
			| 2014




